.head{
    background-color: rgba(249, 241, 226, 1);
    border-radius: 20px 20px 0px 0;
    box-shadow: 0 2px 5px grey;
    display: flex;
    z-index: 2;
    position: relative;
}

.username{
    color: rgba(58, 47, 31, 1);
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 5px 0;
}

.musicBtn {
    border: 0;
    background-color: transparent;
    padding: 0;
    text-align: left;
}

.insideBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.musicText {
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    margin: 0;
}

.textMusic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.insideBtn p {
    margin: 0;
}

a {
    text-decoration: none;
}

.avDiv {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: 0 1px 3px grey;
    overflow: hidden;
    margin: 23px 20px 23px 42px;
}

.avDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.div{
    display: flex;
    flex-direction: column;
    width: 921px;
    gap: 0;
}

.msgBody{
    background-color: rgba(248, 248, 248, 1);
    box-shadow: 0 1px 3px grey;
    border-radius: 0px 0px 20px 20px;
    z-index: 1;
    padding: 20px 50px;
    position: relative;
}

.msgText{
    font-family: "Oxygen", sans-serif;
    font-size: 18px;
    margin: 10px 50px;
}

.inputText{
    width: 558px;
    background-color: rgba(59, 48, 32, 0.5);
    height: 30px;
    border: 0;
    border-radius: 30px;
    padding-left: 20px;
    color: rgba(248, 248, 248, 1);
}

.inputText:focus{
    border: 0;
    outline: none;
}

.inputText::placeholder{
    color: rgba(248, 248, 248, 1);
    font-family: "Oxygen", sans-serif;
}

.send{
    display: flex;
    justify-content: space-around;
    gap: 0px;
}

.comment, .repost, .more{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.more{
    position: absolute;
    right: 20px;
    top: 25px;
}
