.orbsContainer{
    position: relative;
    margin-top: -100px;
    width: 100%;
    height: 100%;
}

.orb {
    position: absolute;
    will-change: transform;
    --x1: 0;
    --x2: 0;
    --x3: 0;
    --y1: 0;
    --y2: 0;
    --y3: 0;
    animation: moveAlong 10s infinite;
}

@keyframes moveAlong {
    0%   { transform: translate(var(--x1), var(--y1)); }
    13%  { transform: translate(var(--x1), var(--y1)); }

    33%  { transform: translate(var(--x2), var(--y2)); }
    40%  { transform: translate(var(--x2), var(--y2)); }

    66%  { transform: translate(var(--x3), var(--y3)); }
    73%  { transform: translate(var(--x3), var(--y3)); }

    100% { transform: translate(var(--x1), var(--y1)); }
}
