.mainDiv{

}

.div{
    padding: 40px 80px;
}

.interests{
    display: flex;
    flex-direction: column;
    gap: 33px;
    font-size: 24px;
}


.hText{
    margin: 50px 0px 100px 50px;
}

.trWindow{
    position: absolute;
    border-radius: 40px 0px 0px 40px;
    right: 0;
    width: 881px;
    height: 556px;
}

.ballsWrapper{
    right: 1000px;
    top: 180px;
}

.forBalls{
    position: relative;
}

.buttonList{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.itemsList {
    position: absolute;
    left: 50px;
}

.item{
    margin-left: 40px;
}

