.mainDiv {
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.h1 {
    margin: 10vh 0 0 0;
    color: #3E74B7;
    font-size: 32px;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
}

.trWindow {
    height: auto;
    width: 881px;
    margin: 10vh 0 0 0;
    justify-content: center;
    padding: 40px 20px;
    gap: 30px;
}

.createBtn {
    height: 42px;
    width: 507px;
    font-size: 20px;
    margin-top: -10px;
}

.ballsWrapper {
    position: absolute;
    left: 6vh;
    top: 0;
    margin-top: 170px;
}

.selectWrapper {
    width: 507px;
    text-align: center;
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    color: #3E74B7;
}

.storyCheck {
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    color: black;
}

.fileWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hiddenInput {
    display: none;
}

.fileBtn {
    width: 507px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.formWrapper {
    margin-bottom: 100px;
}
