.main{
    margin: 0px 150px;
}

.card{
    padding: 50px 100px 0px 100px;
    width: 497px;
    height: 268px;
    border-radius: 40px;
    text-align: center;
    backdrop-filter: blur(21px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.h2{
    margin: 0;
}

.together{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.tema, .wait16{
    border: 0;

}

.tema{
    height: 60px;
    width: 286px;
    font-size: 32px;
    border-radius: 20px;
    word-spacing: 5px;
}

.wait16{
    width: 248px;
    height: 50px;
    border-radius: 20px;
}

.main2{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 500px;
}
