.div{
    background-color: rgba(248, 248, 248, 1);
    overflow: hidden;
}

.mainDiv{
    margin: 0px 40px 0px 40px;
    display: flex;
}

.rightSide, .leftSide{
    position: relative;
    z-index: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.leftSideLeave{
    transform: translateX(-100vw) rotate(-10deg);
    opacity: 0;
}

.rightSideLeave{
    transform: translateX(100vw) rotate(10deg);
    opacity: 0;
}

.logo {
    width: 150px;
    height: auto;
    margin: 40px;
}

h1{
    color: #3E74B7;
    font-size: 36px;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
}

.blueBtn {
    border-radius: 15px;
    border: 0;
    padding: 5px 0;
    background-color: rgba(62, 116, 183, 1);
    color: rgba(248, 248, 248, 1);
    font-family: "Oxygen", sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
}

.blueBtn:hover {
    background-color: transparent;
    backdrop-filter: blur(21px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    color: black;
    transform: scale(1.05);
}

.trWindow{
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    z-index: 2;
    border-radius: 40px;
    backdrop-filter: blur(21px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.ballsWrapper {
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 0;
}

.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    width: 507px;
    height: 54px;
    background-color: transparent;
    box-shadow: 0px 1px 0px rgba(62, 116, 183, 1);
    backdrop-filter: blur(21px);
    border-radius: 40px;
    border: 0;
    text-align: center;
    caret-color: rgba(62, 116, 183, 1);
}

.input:focus{
    outline: none;
    border: 0;
}

input::placeholder {
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
    color: black;
}

.password{
    position: relative;
}

.eyeImg{
    position: absolute;
    right: 3vh;
    top: 18px;
}

.trBtn{
    font-family: "Oxygen", sans-serif;
    background-color: rgba(62, 116, 183, 0.2);
    backdrop-filter: blur(21px);
    border: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.trBtn:hover{
    background-color: rgba(247, 200, 115, 1);
    transform: scale(1.05);
}

.undoBtn{
    height: 40px;
    width: 197px;
    margin: 40px;
    font-size: 18px;
    cursor: pointer;
}

.error{
    margin: -20px 20px;
    color: red;
    font-size: 15px;
    max-width: 100%;
}