.mainDiv{
    justify-content: space-around;
    height: 140vh;
}

.ballsWrapper {
    margin-top: -100px;
    left: -35vh;
}

.mainText{
    margin: 10vh 0 0 20vh;
}

.blueText{
    color: #3E74B7;
}

.absoluteBlueP{
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 30%;
    pointer-events: none;
}

.absoluteP{
    position: absolute;
    font-size: 14px;
    top:60%;
    left: 30%;
}

.sticker{
    width: 608px;
    height: auto;
}

p{
    font-size: 24px;
}

.trWindow{
    width: 531px;
    height: 100%;
}

.loginBtn{
    margin-top: 30px;
    width: 421px;
    font-size: 24px;
}

.registerBtn{
    border-radius: 15px;
    padding: 10px 0;
    width: 217px;
}

h2{
    margin-top: 30vh;
    font-family: "Oxygen", sans-serif;
    font-weight: bolder;
}

.stickerDiv{
    margin: -10vh -10vh 0 0;
    position: relative;
    display: inline-block;
}