.div {
    position: absolute;
    top: 1%;
    left: 25%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 10px 30px;
    width: 508px;
    height: 274px;
    background-color: rgba(249, 241, 226, 1);
    box-shadow: 0 2px 5px gray;
    z-index: 10;
}

.bookmark {
    border: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid rgba(58, 47, 31, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.hover:hover .circle {
    transform: scale(1.05);
    box-shadow: 0 0px 10px gray;
}

.hover p {
    font-size: 12px;
    font-family: "Oxygen", sans-serif;
    margin-top: 5px;
}

.hover:hover p{
    transform: scale(1.05);
    text-shadow: 1px 1px 10px gray,
                -1px -1px 10px gray;
}

